#sectionFour {
    background-image: url(/img/landon-6.jpg);
    background-position: right top;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: white;
        align-self: flex-start;
        margin: 0 auto;
        padding-bottom: 2%;
    }

    #about-wrapper {
        background-color: $transparent-gray;
        width: 80%;
        height: 70%;
        align-self: flex-end;
        margin-bottom: 5%;
        padding: 1%;
        border-radius: 10px;

        #inner-about {
            overflow-y: scroll;
            height: 100%;

            p {
                color: white;
                line-height: 1.8;
            }
        }
        
    }
}