#sectionOne {
    background-image: url(/img/landon-1.jpg);

    .socials {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            background-color: $transparent-gray;

            li {
                padding: 10px 15px;

                a {
                    i {
                        color: #fff;
                        font-size: 3em;
                        transition: all .2s ease-in-out;
                    }
                    i:hover{
                        transform: scale(1.2);
                    }
                    .fa-instagram:hover{
                        color:#ffc838;
                    }
                    .fa-twitter:hover{
                        color:#1DA1F2;
                    }
                    .fa-facebook:hover{
                        color: #3C5A99;
                    }                    
                    .fa-snapchat-ghost:hover{
                        color: #FFFC00;
                    }
                    .fa-spotify:hover{
                        color: #1DB954;
                    }
                    .fa-youtube:hover{
                        color: #FF0000;
                    }
                }
            }
        }
    }

    nav {
        min-height: 100%;
        background-color: rgba(170, 170, 170, 0.6);
        width: 25%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-align: center;
            font-family: $header-font;
            font-size: 4em;

        }

        menu {
            min-height: 100%;
            text-align: center;
            padding: 0;
            margin: 0;

            ul {
                min-height: 100%;
                list-style-type: none;
                padding: 0;
                font-family: $secondary-font;

                li {
                    font-size: 2em;
                    padding: 10px 0;
                    color: white;
                }
            }
        }
    }
}

// media queries
//  phone
@media only screen and (max-width:768px) {
    #sectionOne {
        .socials {
            position: relative;
            top: 0;
            transform: translate(0);
            margin: 0 auto;
            width: 100%;
            text-align: center;
            height: 5%;
            background-color: $transparent-gray;
            ul {
                list-style: none;
                display: inline;
                background-color: transparent;

                li {
                    display: inline;
                    a{
                    i {
                        padding-top: 5px;
                        color: black;
                        font-size: 25px;
                    }
                    .fa-instagram{
                        color:#ffc838;
                    }
                    .fa-twitter{
                        color:#1DA1F2;
                    }
                    .fa-facebook{
                        color: #3C5A99;
                    }                    
                    .fa-snapchat-ghost{
                        color: #FFFC00;
                    }
                    .fa-spotify{
                        color: #1DB954;
                    }
                    .fa-youtube{
                        color: #FF0000;
                    }
                }
                }
            }
        }

        nav {
            min-height: 95%;
            background-color: rgba(170, 170, 170, 0.6);
            width: 100%;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                text-align: center;
                font-family: 'Permanent Marker', cursive;
                font-size: 4em;
            }

            menu {
                min-height: 100%;
                text-align: center;
                padding: 0;
                margin: 0;

                ul {
                    min-height: 100%;
                    list-style-type: none;
                    padding: 0;
                }
            }
        }
    }
}