@import 'variables';
@import 'sectionOne';
@import 'sectionTwo';
@import 'sectionThree';
@import 'sectionFour';
@import 'sectionFive';
@import 'video';

html,
body{
    height:100%;
    overflow-x: hidden;
}


.section{
    height: 100vh;
    background-repeat: none;
    background-size: cover;
}

.wow{
    visibility: visible !important;
}

.ui{
    margin: 0
}

// font-family: 'Permanent Marker', cursive;

body::-webkit-srollbar{
    width: 10px;
}


// media queries
//  phone
@media only screen and (max-width:768px){

}
// tablet
@media only screen and (min-width:769px) and(max-width:991px){

}


// small monitor
@media only screen and (min-width:992px) and(max-width:1199px){

}

// large monitor
@media only screen and (min-width:1200px){

}